{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <!-- -----------------fontawesome------------------------------ -->
    <link
      rel="stylesheet"
      href="{% static '/fontawesome-free-5.14.0-web/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/fontawesome-free-5.14.0-web/css/fontawesome.min.css' %}"
    />
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static '/materialize/css/materialize.min.css' %}"
      media="screen,projection"
    />
    <link rel="stylesheet" href="{% static '/css/about.css' %}" />
    <link rel="stylesheet" href="{% static '/lightbox2-dev/dist/css/lightbox.min.css' %}" />

    <!-- ----------------slick--------------------------- -->
    <link rel="stylesheet" href="{% static '/slick-1.8.1/slick/slick.css' %}" />
    <link rel="stylesheet" href="{% static '/slick-1.8.1/slick/slick-theme.css' %}" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <header class="drop">
      <a href="{% url 'home' %}" class="logo">
        <!-- <img src="./FINAL-LOGO12.png" alt="" /> -->
        <h5><span style="color: #0da1ec;">Rapidez</span>Writer</h5>
      </a>
      <ul>
        <li><a href="#">Resume Analysis</a></li>
        <li>
          <a href="#"
            >Resume Services
            <i
              class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
              "
              aria-hidden="true"
            ></i
          ></a>
          <ul class="ser1 ser12" style="left: 38%;">
            <div class="box111"></div>
            <a href="{% url 'resumeWriting' %}"><li>Resume Writing</li></a>
            <a href="{% url 'resumeMakeover' %}"><li>Resume template makeover</li></a>
            <a href="{% url 'linkedIn' %}"><li>Linkedin profile branding</li></a>
            <a href="{% url 'resumeVideo' %}"><li>Video Resume Building</li></a>
            <a href="{% url 'resumeConsulting' %}"><li>Consulting</li></a>
          </ul>
        </li>

        <li class="ser">
          <a href="#"
            >About
            <i
              class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
              "
              aria-hidden="true"
            ></i
          ></a>
          <ul class="ser1 ser11" style="left: -30%;">
            <div class="box111"></div>
            <a href="{% url 'about' %}"><li>About Us</li></a>
            <a href="#"><li>FAQ</li></a>
          </ul>
        </li>
        <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
        <li><a href="#">Quiz</a></li>
        <li><a href="#">Career Advice</a></li>    
        <li><a href="{% url 'contactUs' %}">Contact Us</a></li>
      </ul>
    </header>
    <!-- navbar-end -->


    <!-- --------------------------wave------------------------------------------------------------ -->

    <!-- ---------------------------------------------------head1--------------------------------------- -->
    <div class="main-class" style="margin-top: 130px;">
      <div class="image15">
        <div class="z-depth-3">
          <img src="{% static '/image/rw2.jpg' %}" alt="" />
        </div>
      </div>

      <div class="contents1">
        <div class="headlines1">
          <h3>Helping professionals build personal brands</h3>
        </div>
        <p class="">
          Your resume is one of your most important career tools. But many
          professionals have no idea where to start, what to include, and what
          to leave off of their resumes. That’s where TopResume comes in. We can
          carefully craft your career story to target the job that you want to
          land.
        </p>
      </div>
    </div>

    <!-- ---------------------------------------------------head2--------------------------------------- -->
    <!-- ---------------------------------------------------head2--------------------------------------- -->
    <!-- ---------------------------------------------------head2--------------------------------------- -->
    <!-- ---------------------------------------------------head2--------------------------------------- -->
    <!-- ---------------------------------------------------head2--------------------------------------- -->
    <!-- ---------------------------------------------------head2--------------------------------------- -->
    <!-- ---------------------------------------------------head2--------------------------------------- -->
    <!-- ---------------------------------------------------head2--------------------------------------- -->
    <!-- ---------------------------------------------------head2--------------------------------------- -->
    <!-- ---------------------------------------------------head2--------------------------------------- -->
    <!-- ---------------------------------------------------head2--------------------------------------- -->
    <!-- ---------------------------------------------------head2--------------------------------------- -->

    <div class="main-class" style="margin-top: 0px;">
      <div class="contents1 a1" style="margin-top: 15px;">
        <div class="headlines1" style="margin-top: 0px;">
          <h3>Who we are</h3>
        </div>
        <p class="">
          Growing up, our CEO Jeff Berger knew the importance of a quality
          resume. This was thanks to his mother, who ran a resume-writing
          business out of their home. He saw an opportunity to help struggling
          job seekers on a larger scale.
        </p>
      </div>
      <div class="image16" style="margin-top: 0px;">
        <div class="z-depth-3">
          <img src="{% static '/image/scott-graham-5fNmWej4tAA-unsplash.jpg' %}" alt="" />
        </div>
      </div>
    </div>

    <div class="waves">
      <img
        src="{% static '/image/waves-png-hd-border-transparent-waves-hd-border-images-170354.png' %}"
        alt=""
      />
      <div class="u-wave">
        <img
          src="{% static '/image/morten-pedersen-Z-bgD8pMv30-unsplash (1).jpg' %}"
          alt=""
        />
      </div>

      <div class="contents22">
        <div class="commen">
          <h5>We're here to help people like you through the job search.</h5>
          <p>
            Our team is made up of professional writers from around the globe
            with experience in Human Resources, recruiting, career coach, and
            job search strategy. We write resumes that pass the automated
            recruiting software used to screen out applicants and stand out to
            hiring managers for all the right reasons.
          </p>
        </div>
      </div>
    </div>
    <!-- -----------------------------------------------------customer raiting------------------------------ -->

   <!-- -----------------------------------------------------------------footer--------------------------- -->

   <footer class="footer">
    <div class="product">
      <h5>PRODUCTS</h5>
      <a href="#"><p>Resume Analysis</p></a>
      <a href="{% url 'resumeWriting' %}"><p>Resume Writing</p></a>
      <a href="{% url 'resumeMakeover' %}"><p>Resume Template Makeover</p></a>
      <a href="{% url 'linkedIn' %}"><p>Linkedin Profile Branding</p></a>
      <a href="{% url 'resumeVideo' %}"><p>Video Resume Building</p></a>
      <a href="{% url 'resumeConsulting' %}"><p>Consulting</p></a>
    </div>

    <div class="learn">
      <h5>LEARN MORE</h5>
      <a href="#"><p>FAQs</p></a>
      <a href="#"><p>Quiz</p></a>
      <a href="{% url 'testimonials' %}"><p>Testimonials</p></a>
      <a href="#"><p>Carrer Advice</p></a>
    </div>

    <div class="company">
      <h5>COMPANY</h5>
      <a href="#"><p>Careers</p></a>
      <a href="{% url 'about' %}"><p>About Us</p></a>
      <a href="{% url 'contactUs' %}"><p>Contact Us</p></a>
    </div>

    <div class="branded">
      <a href="#">
        <h5 style="color:#fff;"><span style="color: #0da1ec;">Rapidez</span>Writer</h5>

        <a href="#" style="color: #a7b2d8;"
          ><i class="fa fa-facebook fa-2x" aria-hidden="true"></i
        ></a>
        <a href="#" style="color: #a7b2d8;">
          <i
            class="fa fa-twitter fa-2x"
            style="margin-left: 20px;"
            aria-hidden="true"
          ></i
        ></a>
        <a href="#" style="color: #a7b2d8;">
          <i
            class="fa fa-linkedin fa-2x"
            style="margin-left: 20px; margin-right: 7px;"
            aria-hidden="true"
          ></i
        ></a>
      </a>
    </div>
  </footer>
    

    <!--JavaScript at end of body for optimized loading-->
    <script src="http://code.jquery.com/jquery-3.5.1.js"></script>

    <script
      type="text/javascript"
      src="{% static '/materialize/js/materialize.min.js' %}"
    ></script>

    <script type="text/javascript">
      window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
      });
    </script>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>

    <script>
      $(".part1").slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        nextArrow: $(".pat00"),
        prevArrow: $(".pat0"),
      });
    </script>
    <script>
      $(".part2").slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        nextArrow: $(".pat2"),
        prevArrow: $(".pat1"),
      });
    </script>

    <script>
      $(".part3").slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        nextArrow: $(".pat4"),
        prevArrow: $(".pat3"),
      });
    </script>

    <script>
      $(document).ready(function () {
        $(".modal").modal();
      });
    </script>
  </body>
</html>
