{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- -----------------fontawesome------------------------------ -->
    <link
      rel="stylesheet"
      href="{% static '/fontawesome-free-5.14.0-web/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/fontawesome-free-5.14.0-web/css/fontawesome.min.css' %}"
    />

    <!-- aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static '/materialize/css/materialize.min.css' %}"
      media="screen,projection"
    />
    <link rel="stylesheet" href="{% static '/css/linkedin.css' %}" />
    <link rel="stylesheet" href="{% static '/lightbox2-dev/dist/css/lightbox.min.css' %}" />

    <!-- ----------------slick--------------------------- -->
    <link rel="stylesheet" href="{% static '/slick-1.8.1/slick/slick.css' %}" />
    <link rel="stylesheet" href="{% static '/slick-1.8.1/slick/slick-theme.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <header class="drop">
      <a href="{% url 'home' %}" class="logo">
        <!-- <img src="./FINAL-LOGO12.png" alt="" /> -->
        <h5><span style="color: #0da1ec;">Rapidez</span>Writer</h5>
      </a>
      <ul>
        <li><a href="#">Resume Analysis</a></li>
        <li>
          <a href="#"
            >Resume Services
            <i
              class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
              "
              aria-hidden="true"
            ></i
          ></a>
          <ul class="ser1 ser12" style="left: 38%;">
            <div class="box111"></div>
            <a href="{% url 'resumeWriting' %}"><li>Resume Writing</li></a>
            <a href="{% url 'resumeMakeover' %}"><li>Resume template makeover</li></a>
            <a href="{% url 'linkedIn' %}"><li>Linkedin profile branding</li></a>
            <a href="{% url 'resumeVideo' %}"><li>Video Resume Building</li></a>
            <a href="{% url 'resumeConsulting' %}"><li>Consulting</li></a>
          </ul>
        </li>

        <li class="ser">
          <a href="#"
            >About
            <i
              class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
              "
              aria-hidden="true"
            ></i
          ></a>
          <ul class="ser1 ser11" style="left: -30%;">
            <div class="box111"></div>
            <a href="{% url 'about' %}"><li>About Us</li></a>
            <a href="#"><li>FAQ</li></a>
          </ul>
        </li>
        <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
        <li><a href="#">Quiz</a></li>
        <li><a href="#">Career Advice</a></li>    
        <li><a href="{% url 'contactUs' %}">Contact Us</a></li>
      </ul>
    </header>
    <!-- navbar-end -->
      <!-- navbar-end -->
  
    <!-- ---------------------------------------------------main head--------------------------------------- -->
    <div class="m-head">
      <div class="m-back">
        <div class="content">
          <div class="move"></div>
          <p>
            <i
              class="fab fa-linkedin"
              style="
                background: #0274b3;
                color: #fff;
                padding: 1px;
                padding-left: 3px;
                padding-right: 3px;
              "
            ></i>
            LINKEDIN PROFILE MAKEOVER
          </p>
          <h1>
            Get discovered — land <br />
            your dream job
          </h1>
          <h5>
            Elevate your professional presence online with an expertly- <br />
            written LinkedIn profile makeover for
            <span style="color: #0da1ec;"> $125 . </span>
          </h5>
          <a
            class="waves-effect waves-light btn"
            style="
              border-radius: 5px;
              height: 50px;
              padding-top: 5px;
              font-weight: 600;
              text-transform: none;
              background: #0da1ec;
              margin-top: 30px;
              width: 35%;
            "
            >Order Now</a
          >
        </div>
        <div class="image11">
          <div class="img1">
            <img src="{% static '/image/dotted(1).png' %}" alt="" />
          </div>
          <div class="img2">
            <img
              src="{% static '/image/linkedin-sales-navigator-UK1N66KUkMk-unsplash (1).jpg' %}"
              alt=""
            />
          </div>
          <div class="img3">
            <img src="{% static '/image/dotted(1).png' %}" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- ---------------------------------------------------%%%%%persentage%%%%%--------------------------------------- -->
    <div class="m-size">
      <div class="p1" data-aos="fade-left">
        <h4>14 million</h4>
        <h5><span>job openings </span> the LinkedIn platform in 2019.</h5>
      </div>
      <div class="p1" data-aos="fade-left">
        <h4>97%</h4>
        <h5>
          <span>of recruiters </span> use LinkedIn to evaluate and screen
          candidates.
        </h5>
      </div>
      <div class="p1" data-aos="fade-left">
        <h4>122 million</h4>
        <h5><span>people got an interview </span>through LinkedIn in 2019.</h5>
      </div>
    </div>

    <!-- ----------------------------------------------mobile-type-------------------------------------- -->
    <div class="m-mobile">
      <div class="mob-img">
        <img src="{% static '/image/linkedin-profile-e1cd7661b7.png' %}" alt="" />
      </div>
      <br /><br />
      <br /><br />
      <div class="text-1">
        <p class="light">
          LINKEDIN PROFILE MAKEOVER SERVICE
        </p>
        <h3>Perfect your professional brand</h3>
        <p class="light1">
          With more than 660 million LinkedIn members worldwide, having a
          profile that stands out is essential to your job-search success.
        </p>
        <br />
        <div class="pul-grid">
          <div class="cir pulse" style="background: #47b8f18c;">
            <div class="cir1 pulse" style="background: #47b7f1;"></div>
          </div>
          <div class="line"></div>
          <i class="fas fa-search fa-1x" style="color: #47b7f1;"></i>
          <div class="cont" data-aos="zoom-in-left">
            <p class="light2">
              <span style="font-weight: 500;"> Keyword optimized</span> so you
              show up in more recruiters' searches.
            </p>
          </div>
        </div>
        <br />

        <!-- ---------------------------------------------------------- -->
        <div class="pul-grid">
          <div class="cir pulse" style="background: #47b8f18c;">
            <div class="cir1 pulse" style="background: #47b7f1;"></div>
          </div>
          <div class="line"></div>
          <i class="fas fa-file-word fa-1x" style="color: #47b7f1;"></i>
          <div class="cont" data-aos="zoom-in-left">
            <p class="light2">
              <span style="font-weight: 500;"> Aligned with your resume</span>,
              presenting an engaging narrative.
            </p>
          </div>
        </div>
        <br />

        <!-- ------------------------------------------------------------- -->

        <div class="pul-grid">
          <div class="cir pulse" style="background: #47b8f18c;">
            <div class="cir1 pulse" style="background: #47b7f1;"></div>
          </div>
          <div class="line"></div>
          <i
            class="fas fa-star fa-1x"
            style="color: #47b7f1; float: right;"
          ></i>
          <div class="cont" data-aos="zoom-in-left">
            <p class="light2">
              <span style="font-weight: 500;">
                Achievements and skills-based
              </span>
              so your profile is top ranked for job opportunities.
            </p>
          </div>
        </div>
        <br />

        <a
          class="waves-effect waves-light btn"
          style="
            width: 18%;
            border-radius: 5px;
            height: 38px;
            padding-top: 1px;
            font-weight: 600;
            font-size: medium;
            text-transform: none;
            background: #0da1ec;
            margin-top: 30px;
            margin-left: 125px;
          "
          >Order Now</a
        >
      </div>
    </div>

    <!-- -----------------------------------how it work------------------------------------- -->

    <div class="main-b">
      <div class="b1">
        <br /><br />
        <div class="text-2">
          <p class="light2">
            HOW IT WORKS
          </p>
          <br />
          <h3>Get real results</h3>
          <br />
          <p style="font-size: 18px; text-align: center;">
            Working with a professional writer to revamp your <br />
            LinkedIn profile will give you a competitive advantage.
          </p>
          <br /><br />
          <img style="width: 100%; padding: 0 6%;" src="{% static '/image/how it work.PNG' %}" alt="" />
          <div class="main-hiw">
            <div class="main-h1">
              <h4 style="font-size: 22.4px; font-weight: 600;">
                Match with a writer
              </h4>
              <p style="font-size: 17px;">
                We’ll pair you with a writer who has experience writing for your
                industry.
              </p>
            </div>

            <div class="main-h1">
              <h4 style="font-size: 22.4px; font-weight: 600;">
                Share your goals
              </h4>
              <p style="font-size: 17px;">
                Work one-on-one to create a LinkedIn profile tailored to your
                career goals.
              </p>
            </div>

            <div class="main-h1">
              <h4 style="font-size: 22.4px; font-weight: 600;">
                Have pride in your profile
              </h4>
              <p style="font-size: 17px;">
                Post your revamped LinkedIn profile and elevate your
                professional brand online.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- -----------------------------------------------------------linkedin-expert---------------------------- -->
    <div class="main-pp">
      <div class="main-c">
        <div class="b2">
          <br /><br /><br /><br /><br />
          <img src="{% static '/image/dot-bgs-055cb3788c.png' %}" alt="" />
        </div>

        <div class="b3">
          <img src="{% static '/image/link-face.jpg' %}" alt="" />
        </div>
        <div class="box22 z-depth-3">
          <div class="text22">
            <h4 class="light2">
              MEET OUR EXPERT WRITERS
            </h4>
            <h3>Lauren H., Editorial Manager</h3>
            <div class="inline">
              <span class="a1"> “ </span>
              <p class="a3">
                It's really a delight to work with so many great writers and be
                a calming voice for clients.
                <span class="a2"> “ </span>
              </p>
            </div>
          </div>
        </div>
        <div class="box33 z-depth-3" style="visibility: hidden !important;">
          <div class="text33">
            <h3>Get started today</h3>
            <p class="a3">
              Order now to get your LinkedIn profile rewritten by one of our
              experts.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- --------------------------------------------c-write----------------------------------- -->
    <div class="main-cc">
      <br /><br /><br />
      <h4>Excellent 8,288 Reviews</h4>
      <div class="main-d">
        <div class="page-wrapper">
          <div class="post-slider">
            <i class="fas fa-chevron-left fa-3x prev pat0"></i>
            <i class="fas fa-chevron-right fa-3x next pat00"></i>
            <div class="post-wrapper part1">
              <div class="post">
                <p>
                  " Rapidez Writer has exceeded my expectations. They were
                  professionals and helpful. I got all 3 packages (Resume, cover
                  letter, LinkedIn) My LinkedIn has been getting lots of views
                  and had a couple screening interviews. Bravo! Worth the
                  investment. Thank you!"
                </p>
              </div>
              <div class="post">
                <p>
                  " Rapidez Writer did a marvellous job on writing my resume and
                  LinkedIn profile. I've got lots of interview as a result"
                </p>
              </div>

              <div class="post">
                <p>
                  "Had my LinkedIn profile reviewed. Pretty fast turnaround and
                  really helped to refine and make the overall summary of my
                  experience clearer and more concise. Very easy to work with
                  the platform and input the required data."
                </p>
              </div>

              <div class="post">
                <p>
                  " Had a great match with my writer, great communication both
                  via email and phone. Resume, Cover Letter and LinkedIn
                  makeover went way above my expectations. LinkedIn profile view
                  increased by 30% constantly, I receive more feedback on my
                  applications and that builds a lot of confidence to rock an
                  interview!"
                </p>
              </div>

              <div class="post">
                <p>
                  "I put off trying Rapidez Writer and wish that I hadn't. I was
                  very impressed with the writer and how she was able to
                  communicate more clearly and effectively what I had been
                  trying to say. I also had a cover letter and LinkedIn profile
                  updated which I would also recommend. Very pleased with the
                  service."
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ----------------------------------------------------------last-------------------- -->
    <div class="content121">
      <br /><br /><br />
      <p>
        <i
          class="fab fa-linkedin"
          style="
            background: #0274b3;
            color: #fff;

            padding: 3px;
            padding-left: 4px;
          "
        ></i>
        LINKEDIN PROFILE MAKEOVER
      </p>
      <h2>
        Set yourself up for job search success
      </h2>
      <a
        data-aos="zoom-in"
        class="waves-effect waves-light btn"
        style="
          width: 180px;
          border-radius: 5px;
          height: 60px;
          padding-top: 10px;
          font-weight: 600;
          font-size: large;
          text-transform: none;
          background: #0da1ec;
          margin-top: 30px;
          margin-left: 43%;
        "
        >Order Now</a
      >
    </div>
    <!-- --------------------------------------------------footer----------------------------- -->
    <!-- -----------------------------------------------------------------footer--------------------------- -->

    <footer class="footer">
      <div class="product">
        <h5>PRODUCTS</h5>
        <a href="#"><p>Resume Analysis</p></a>
        <a href="{% url 'resumeWriting' %}"><p>Resume Writing</p></a>
        <a href="{% url 'resumeMakeover' %}"><p>Resume Template Makeover</p></a>
        <a href="{% url 'linkedIn' %}"><p>Linkedin Profile Branding</p></a>
        <a href="{% url 'resumeVideo' %}"><p>Video Resume Building</p></a>
        <a href="{% url 'resumeConsulting' %}"><p>Consulting</p></a>
      </div>

      <div class="learn">
        <h5>LEARN MORE</h5>
        <a href="#"><p>FAQs</p></a>
        <a href="#"><p>Quiz</p></a>
        <a href="{% url 'testimonials' %}"><p>Testimonials</p></a>
        <a href="#"><p>Carrer Advice</p></a>
      </div>

      <div class="company">
        <h5>COMPANY</h5>
        <a href="#"><p>Careers</p></a>
        <a href="{% url 'about' %}"><p>About Us</p></a>
        <a href="{% url 'contactUs' %}"><p>Contact Us</p></a>
      </div>

      <div class="branded">
        <a href="#">
          <h5 style="color:#fff;"><span style="color: #0da1ec;">Rapidez</span>Writer</h5>

          <a href="#" style="color: #a7b2d8;"
            ><i class="fa fa-facebook fa-2x" aria-hidden="true"></i
          ></a>
          <a href="#" style="color: #a7b2d8;">
            <i
              class="fa fa-twitter fa-2x"
              style="margin-left: 20px;"
              aria-hidden="true"
            ></i
          ></a>
          <a href="#" style="color: #a7b2d8;">
            <i
              class="fa fa-linkedin fa-2x"
              style="margin-left: 20px; margin-right: 7px;"
              aria-hidden="true"
            ></i
          ></a>
        </a>
      </div>
    </footer>
    <!-- -----------------------------------------------------customer raiting------------------------------ -->

    <!--JavaScript at end of body for optimized loading-->
    <script src="http://code.jquery.com/jquery-3.5.1.js"></script>

    <script
      type="text/javascript"
      src="{% static '/materialize/js/materialize.min.js' %}"
    ></script>

    <script type="text/javascript">
      window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
      });
    </script>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>

    <script>
      $(".part1").slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: false,
        autoplaySpeed: 2000,
        nextArrow: $(".pat00"),
        prevArrow: $(".pat0"),
      });
    </script>
    <script>
      $(".part2").slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        nextArrow: $(".pat2"),
        prevArrow: $(".pat1"),
      });
    </script>

    <script>
      $(".part3").slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        nextArrow: $(".pat4"),
        prevArrow: $(".pat3"),
      });
    </script>

    <script>
      $(document).ready(function () {
        $(".modal").modal();
      });
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1200,
      });
    </script>
  </body>
</html>
