{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- -----------------fontawesome------------------------------ -->
    <link
      rel="stylesheet"
      href="{% static '/fontawesome-free-5.14.0-web/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/fontawesome-free-5.14.0-web/css/fontawesome.min.css' %}"
    />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static '/materialize/css/materialize.min.css' %}"
      media="screen,projection"
    />
    <link rel="stylesheet" href="{% static '/css/resume-makeover.css' %}" />
    <link rel="stylesheet" href="{% static '/lightbox2-dev/dist/css/lightbox.min.css' %}" />

    <!-- ----------------slick--------------------------- -->
    <link rel="stylesheet" href="{% static '/slick-1.8.1/slick/slick.css' %}" />
    <link rel="stylesheet" href="{% static '/slick-1.8.1/slick/slick-theme.css' %}" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <header class="drop">
      <a href="{% url 'home' %}" class="logo">
        <!-- <img src="./FINAL-LOGO12.png" alt="" /> -->
        <h5><span style="color: #0da1ec;">Rapidez</span>Writer</h5>
      </a>
      <ul>
        <li><a href="#">Resume Analysis</a></li>
        <li>
          <a href="#"
            >Resume Services
            <i
              class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
              "
              aria-hidden="true"
            ></i
          ></a>
          <ul class="ser1 ser12" style="left: 38%;">
            <div class="box111"></div>
            <a href="{% url 'resumeWriting' %}"><li>Resume Writing</li></a>
            <a href="{% url 'resumeMakeover' %}"><li>Resume template makeover</li></a>
            <a href="{% url 'linkedIn' %}"><li>Linkedin profile branding</li></a>
            <a href="{% url 'resumeVideo' %}"><li>Video Resume Building</li></a>
            <a href="{% url 'resumeConsulting' %}"><li>Consulting</li></a>
          </ul>
        </li>

        <li class="ser">
          <a href="#"
            >About
            <i
              class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
              "
              aria-hidden="true"
            ></i
          ></a>
          <ul class="ser1 ser11" style="left: -30%;">
            <div class="box111"></div>
            <a href="{% url 'about' %}"><li>About Us</li></a>
            <a href="#"><li>FAQ</li></a>
          </ul>
        </li>
        <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
        <li><a href="#">Quiz</a></li>
        <li><a href="#">Career Advice</a></li>    
        <li><a href="{% url 'contactUs' %}">Contact Us</a></li>
      </ul>
    </header>
    <!-- navbar-end -->

    <!-- ------------------------------------------------head--------------------------------------------------- -->

    <div class="head-img" style="color:#f8f8f8;">
      <div class="t-img"></div>
      <div class="u-img">
        <h4>Cover Letter Templates</h4>
        <p>
          Click on a cover letter template, fill it online, and download in
          seconds. Build a professional cover letter in a few clicks. Just pick
          one of 18+ cover letter templates below, add ready-made content, and
          get the job.
        </p>
      </div>
    </div>

    <div class="cata container">
      <div>
        <p >
          <a
            href="{% url 'resumeMakeover' %}"
            >Resume Templates
          </a>
        </p>
      </div>
      <div>
        <p >
          <a href="{% url 'resumeMakeover1' %}">Cover Letter Templates</a>
        </p>
      </div>
      <div>
        <p style="border-bottom: 2px solid #3983fa;">
          <a href="{% url 'resumeMakeover2' %}" style="color: #3983fa; font-weight: 700;">CV Templates </a>
        </p>
      </div>
    </div>

    <!-- --------------------------------------------template1----------------------------------- -->

    <!-- --------------------------------------------template1----------------------------------- -->
    <br /><br /><br />
    <div class="container" style="width: 100%; overflow: hidden;">
      <div class="top-d">
        <div class="main-111">
          <div class="small11">
            <a class="modal-trigger" href="#modal11">
              <img class="z-depth-2" src="{% static '/image/r1.jpg' %}" alt="" />
            </a>
          </div>
          <div class="m-text">
            <h5>Cascade</h5>
            <p>
              Professional cover letter template with a column for contact
              information
            </p>
            <a
              data-aos="zoom-in"
              class="waves-effect waves-light btn btn90"
              >Order Now</a
            >
            <br />
          </div>
        </div>
        <!-- -------------------------------------------------------------- -->

        <div class="main-111">
          <div class="small11">
            <a class="modal-trigger" href="#modal12">
              <img class="z-depth-2" src="{% static '/image/r2.jpg' %}" alt="" />
            </a>
          </div>
          <div class="m-text">
            <h5>Concept</h5>
            <p>
              Modern cover letter template with delicate icons for contact
              information.
            </p>
            <a
              data-aos="zoom-in"
              class="waves-effect waves-light btn btn90"

              >Order Now</a
            >
            <br />
          </div>
        </div>

        <!-- ---------------------------------------------------- -->
        <div class="main-111">
          <div class="small11">
            <a class="modal-trigger" href="#modal13">
              <img class="z-depth-2" src="{% static '/image/r3.png' %}" alt="" />
            </a>
          </div>
          <div class="m-text">
            <h5>Crisp</h5>
            <p>
              Creative cover letter template with graphic elements and two
              columns
            </p>
            <a
              data-aos="zoom-in"
              class="waves-effect waves-light btn btn90"
              >Order Now</a
            >
            <br />
          </div>
        </div>
        <!-- ------------------------------------------------------------ -->
        <div class="main-111">
          <div class="small11">
            <a class="modal-trigger" href="#modal14">
              <img class="z-depth-2" src="{% static '/image/r4.png' %}" alt="" />
            </a>
          </div>
          <div class="m-text">
            <h5>Cubic</h5>
            <p>
              Perfect cover letter template with a dash of color and a
              structured layout
            </p>
            <a
              data-aos="zoom-in"
              class="waves-effect waves-light btn btn90"
              >Order Now</a
            >
            <br />
          </div>
        </div>

        <!-- ------------------------------------------------------------ -->
        <div class="main-111">
          <div class="small11">
            <a class="modal-trigger" href="#modal15">
              <img class="z-depth-2" src="{% static '/image/r5.png' %}" alt="" />
            </a>
          </div>
          <div class="m-text">
            <h5>Vibes</h5>
            <p>
              Sleek cover letter template with a light feel and color accents
            </p>
            <a
              data-aos="zoom-in"
              class="waves-effect waves-light btn btn90"
              >Order Now</a
            >
            <br />
          </div>
        </div>

        <!-- ------------------------------------------------------------ -->
        <div class="main-111">
          <div class="small11">
            <a class="modal-trigger" href="#modal16">
              <img class="z-depth-2" src="{% static '/image/r1.jpg' %}" alt="" />
            </a>
          </div>
          <div class="m-text">
            <h5>Diamond</h5>
            <p>
              Classic cover letter template in a one column layout
            </p>
            <a
              data-aos="zoom-in"
              class="waves-effect waves-light btn btn90"
              >Order Now</a
            >
            <br />
          </div>
        </div>

        <!-- ------------------------------------------------------------ -->
        <div class="main-111">
          <div class="small11">
            <a class="modal-trigger" href="#modal17">
              <img class="z-depth-2" src="{% static '/image/r3.png' %}" alt="" />
            </a>
          </div>
          <div class="m-text">
            <h5>Enfold</h5>
            <p>
              Two column cover letter template with contact information
              highlighted on the right
            </p>
            <a
              data-aos="zoom-in"
              class="waves-effect waves-light btn btn90"
              >Order Now</a
            >
            <br />
          </div>
        </div>

        <!-- ------------------------------------------------------------ -->
        <div class="main-111">
          <div class="small11">
            <a class="modal-trigger" href="#modal18">
              <img class="z-depth-2" src="{% static '/image/r2.jpg' %}" alt="" />
            </a>
          </div>
          <div class="m-text">
            <h5>Iconic</h5>
            <p>
              Clean cover letter template with plenty of whitespace and a layout
              that feels complete
            </p>
            <a
              data-aos="zoom-in"
              class="waves-effect waves-light btn btn90"
              >Order Now</a
            >
            <br />
          </div>
        </div>
      </div>
    </div>
    <!-- --------------------------------------------template1 big image----------------------------------- -->

    <!-- Modal Structure -->
    <div id="modal11" class="modal">
      <div class="modal-content"><img src="{% static '/image/r1.jpg' %}" alt="" /><br /></div>
    </div>

    <div id="modal12" class="modal">
      <div class="modal-content"><img src="{% static '/image/r2.jpg' %}" alt="" /><br /></div>
    </div>

    <div id="modal13" class="modal">
      <div class="modal-content"><img src="{% static '/image/r3.png' %}" alt="" /><br /></div>
    </div>

    <div id="modal14" class="modal">
      <div class="modal-content"><img src="{% static '/image/r4.png' %}" alt="" /><br /></div>
    </div>

    <div id="modal15" class="modal">
      <div class="modal-content"><img src="{% static '/image/r5.png' %}" alt="" /><br /></div>
    </div>

    <div id="modal16" class="modal">
      <div class="modal-content"><img src="{% static '/image/r1.jpg' %}" alt="" /><br /></div>
    </div>

    <div id="modal17" class="modal">
      <div class="modal-content"><img src="{% static '/image/r3.png' %}" alt="" /><br /></div>
    </div>

    <div id="modal18" class="modal">
      <div class="modal-content"><img src="{% static '/image/r2.jpg' %}" alt="" /><br /></div>
    </div>
    <footer class="footer">
      <div class="product">
        <h5>PRODUCTS</h5>
        <a href="#"><p>Resume Analysis</p></a>
        <a href="{% url 'resumeWriting' %}"><p>Resume Writing</p></a>
        <a href="{% url 'resumeMakeover' %}"><p>Resume Template Makeover</p></a>
        <a href="{% url 'linkedIn' %}"><p>Linkedin Profile Branding</p></a>
        <a href="{% url 'resumeVideo' %}"><p>Video Resume Building</p></a>
        <a href="{% url 'resumeConsulting' %}"><p>Consulting</p></a>
      </div>

      <div class="learn">
        <h5>LEARN MORE</h5>
        <a href="#"><p>FAQs</p></a>
        <a href="#"><p>Quiz</p></a>
        <a href="{% url 'testimonials' %}"><p>Testimonials</p></a>
        <a href="#"><p>Carrer Advice</p></a>
      </div>

      <div class="company">
        <h5>COMPANY</h5>
        <a href="#"><p>Careers</p></a>
        <a href="{% url 'about' %}"><p>About Us</p></a>
        <a href="{% url 'contactUs' %}"><p>Contact Us</p></a>
      </div>

      <div class="branded">
        <a href="#">
          <h5 style="color:#fff;"><span style="color: #0da1ec;">Rapidez</span>Writer</h5>

          <a href="#" style="color: #a7b2d8;"
            ><i class="fa fa-facebook fa-2x" aria-hidden="true"></i
          ></a>
          <a href="#" style="color: #a7b2d8;">
            <i
              class="fa fa-twitter fa-2x"
              style="margin-left: 20px;"
              aria-hidden="true"
            ></i
          ></a>
          <a href="#" style="color: #a7b2d8;">
            <i
              class="fa fa-linkedin fa-2x"
              style="margin-left: 20px; margin-right: 7px;"
              aria-hidden="true"
            ></i
          ></a>
        </a>
      </div>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script src="http://code.jquery.com/jquery-3.5.1.js"></script>

    <script
      type="text/javascript"
      src="{% static '/materialize/js/materialize.min.js' %}"
    ></script>

    <script type="text/javascript">
      window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
      });
    </script>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>

    <script>
      $(document).ready(function () {
        $(".parallax").parallax();
      });
    </script>

    <script>
      $(document).ready(function () {
        $(".modal").modal();
      });
    </script>
  </body>
</html>
