@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

header {
  position: fixed;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 40px;
  z-index: 999;
  height: 80px;
  /* overflow: hidden; */
  /* z-index: 888; */
}
header h5{
  font-weight: 600 !important;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

  font-size: 26px;
  padding-top: 15px;
}

header.sticky h5{
  padding-top: 0px;
}

header a {
  width: 183px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

header.sticky {
  padding: 5px 40px;
  background: #223c99;
  height: 50px;
  align-items: center;
  z-index: 999;
  /* color: #333; */
}

header.sticky a {
  padding-bottom: 0px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}

header.sticky ul li:hover > ul {
  display: block;
  /* bottom: -70px; */
  /* padding: 0px 100px; */
  /* margin-top: 80px; */
  background: #fff;
  /* height: 50px; */
  align-items: center;
  z-index: 999;
  color: #333;
}

header.sticky ul li:hover > ul a {
  color: black;
}
header.sticky .ser:hover {
  padding-top: 0px;
}

header .logo {
  display: flex;
  position: relative;
  
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  /* text-transform: uppercase; */
  /* letter-spacing: 2px; */
  transition: 0.6s;
  width: 290px;
  /* align-items: center; */
}
header .logo img {
  /* width: 100px; */
  height: 40px;
  align-items: center;
  margin-top: 8px;
  margin-right: 15px;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
  font-size: 16px;
}

header ul li a {
  position: relative;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  /* letter-spacing: 2px; */
  /* font-weight: 500px; */
  transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
  color: #fff;
}

/* -----------------------------------------------------Drop-down---------------------------------------- */

.drop ul li {
  position: relative;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}
.drop ul ul {
  position: absolute;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

  padding: 0;
  /* min-width: 300px; */
  display: none;
  top: 100%;
  left: 0;
  /* margin-left: -80px; */
}

.drop ul li:hover > ul {
  display: block;
  /* text-align: center; */
  /* padding: 0 10px; */
  border-radius: 5px;
}
.drop ul li:hover > ul li:hover {
  background: #d4effc;
  /* padding: 10px 0; */
  width: 100%;
}

.drop ul ul li,
.drop ul ul a {
  padding: 5px 0;
  margin: 0;
  width: 100%;
}

.drop ul ul li {
  padding-left: 25px;
}

.drop ul ul li:first-child {
  padding-top: 10px;
}

.drop ul ul {
  margin-top: 12px;
  background: #fff;
}

.ser1 a li {
  color: #000;
}

.drop ul .ser11 {
  width: 150px;
}

.drop ul .ser12 {
  width: 240px;
  margin-left: -80px;
}
.box111 {
  width: 10px;
  height: 10px;
  background: #fff;
  margin-top: -5px;
  transform: rotate(45deg);
  margin-left: 45%;
}

/* ------------------------------------------------------navbar end----------------------------------------- */

/* <!-- ---------------------------------------------------main head--------------------------------------- --> */
.headline {
  text-align: center;
  /* border-bottom: 2px solid rgba(226, 215, 215, 0.274); */
  /* background: black; */
  margin-top: 80px;
}

.headline p {
  font-size: 13px;
}
.image12 img {
  width: 100%;
  height: 450px;
}

.image12 {
  margin-top: 30px;
  margin-left: 0px;
}

.image12 > div {
  width: 60%;
  height: 450px;
}

.headlines {
  text-align: center;
  border-bottom: 2px solid rgb(226, 215, 215);
  margin-top: 50px;
}

.contents {
  position: absolute;
  top: 205px;
  right: 1px;
  border-radius: 5px;
  width: 45%;
  height: 400px;
  /* border: 1px solid red; */
  background: #f8f8f8;
}

.contents p {
  padding: 30px;
  line-height: 40px;
}

.contents1 {
  text-align: center;
  padding: 65px;
  width: 50%;
  height: 400px;
}
.headlines1 h5 {
  margin-top: 50px;
  /* font-weight: bold; */
}

.contents1 p {
  line-height: 40px;
  /* height: 400px; */
  /* margin-top: 100px; */
}

.image16 {
  margin-top: 50px;
  position: relative;
}
.image16 img {
  width: 100%;
  height: 400px;
  /* float: left; */
}
.image16 > div {
  width: 50%;
  height: 400px;
  /* float: left; */
}
.a1 {
  float: right;
}

.image15 {
  margin-top: 70px;
  position: relative;
}
.image15 img {
  width: 100%;
  height: 400px;
  float: right;
}
.image15 > div {
  width: 50%;
  height: 400px;
  float: right;
}

.btn0{
  width:40%;
  background: #223c99;
}

.btn:hover{
  background: #223c99;
  opacity: 0.9;
}

.btn-large{
  text-transform: none;
  font-size: 20px;
  font-weight: 600;
}
/* ---------------------------------------------------------------footer---------------------------- */
/* -------------------------------------------------------footer--------------------------------- */

.footer {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 250px) 1fr;
  height: 273px;
    /* margin-top: 80px; */
  /* border-top: 2px solid #a7b2d8; */
  padding: 9px 60px;
  background: #09143b;
  color: #6275b975;
  margin-top: 40px;
  background-image: linear-gradient(174deg, rgba(59,11,72,0) 32%, rgba(59,11,72,0.5));
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.product,
.learn,
.company {
  margin-left: 50px;
}

.footer h5 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #a7b2d8;
}

.footer p {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #a7b2d8;
}

.footer p:hover {
  color: #bdc0cc;
}

.branded h5 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  /* margin-top: 15px; */
  font-weight: 600;
  font-size: 34px;
  /* font-size: 2.1rem; */
}

.branded {
  text-align: right;
  margin-right: 50px;
}
.fa-2x {
  font-size: 1.5rem;
}

.btn-large{
  text-transform: none;
  font-size: 20px;
  font-weight: 600;
}

/* Banner - video in the background */


.over {
  position: relative;
  background: #223c99b8;
  height: 70vh;
  width: 100%;
  z-index: 2;
}

.Banner {
  position: absolute;
  top: 0;
  /* display: inline; */
  /* position: relative; */
  height: 70vh;
  width: 100%;
  overflow: hidden;
  background-color: rgba(33, 59, 150, 0.15294117647058825);
  /* z-index: 999; */
}

.Banner video {
  /* width: 100%; */
  /* height: 80vh; */
  width: 100%;
  /* z-index: -1; */
  /* height: 300px; */
}

.headtex {
  color: white;
  /* margin-left: 100px; */
  /* margin-top: 200px; */
  /* margin: 0; */
  /* padding: 0; */
}

.headtex h4{
  margin: 0;
  padding-top: 200px;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}
.headtex h6{
  text-align: center;
  line-height: 1.5;
  font-size: 1.35rem;
}

.headtex a{
  margin-left: 45%;
}

.btn {
  background: #0da1ec;
  border-radius: 5px;
  /* margin-left: 230px; */
}

.btn:hover{
  background: #00aaff;
}

/* Cards for Video templates */

    /* Grid */
    .video_list{
      justify-content: space-evenly;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 2em;
      margin-top: 25px;
  }

  .video_li{
      flex: 0 0 29%;
      text-align: center;
      height: 450px !important;
      /* margin: 1em; */
  }

  figure{
    margin: 0;
    padding: 0;
  }

  .card-img-top{
      height: 14em;
      width: 100%;
  }

  .card-title{
    font-size: 20px !important;
  }

  .card-subtitle{
    font-size: 14px !important;
    line-height: 22px;
    padding: 10px !important;
  }

  .order_now{
      /* width: 100%; */
      background: #0da1ec;
      border-radius: 5px;
      color: white;
      font-size: 16px;
      font-weight: 600;
      border-left-color: #008000;
      margin-bottom: 20px;
  }

  .order_now:hover{
      background: #00aaff;
  }

  /* What-Why */

  .what-is-video-resume{
    text-align: justify;
    padding-left: 10em;
    padding-right: 10em;
    
    /* -webkit-box-shadow:0 1px 4px #0000004d, 0 0 40px #0000001a inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px #0000001a inset;
    box-shadow:0 1px 4px #0000004d, 0 0 40px #0000001a inset; */
  }

  .what-is-video-resume h5{
    line-height: 1.5;
    color: #666666 !important;
    font-weight: 500;
  }

  .why-video-resume{
    text-align: justify;
    padding-left: 10em;
    padding-right: 10em;  
    margin-top: 4em !important;

    -webkit-box-shadow:0 1px 4px #0000004d, 0 0 40px #0000001a inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px #0000001a inset;
    box-shadow:0 1px 4px #0000004d, 0 0 40px #0000001a inset;
  }

  .why-video-resume h5{
    line-height: 1.5;
    color: #666666 !important;
    font-weight: 500;
  }

  /* Open doors */

  .open-doors{
    display: flex;
    flex-wrap: wrap;
    background-color: #09143b;
    color: #fff;
    height: 25em;   
    justify-content: center;
    align-items: center;
  }

  .open-doors h2{
    flex: 0 0 auto;
    font-weight: 600;
    text-align: center;
    margin: 3.9rem 0 1.424rem 0;
  }

  .open-doors a {
    flex: 0 0 10em;
    margin-top: -10em !important;
  }

  .open-doors .break {
    flex-basis: 100%;
    height: 0;
  }


  /* Tips for video resume */

  .tips{
    display: flex;
  }

  .tips-h3{
    text-align: center;
    margin: 1em !important;
    font-weight: 300;
    
  }

  .tips .content{
    /* flex: 0 0 45%; */
    padding-left: 3em;
    padding-right: 1em;
    color: #666666 !important;
  }

  .tips .video{
    flex: 0 0 45%;
    padding-right: 3em;
  }

  .tips .card-img-bottom{
    height: 22em;
    width: 40em;
  }