/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
/* @import url("C:\Users\baggaa\Downloads\Rapidez_Writer (1)\Rapidez_Writer\Kelvetica\Kelvetica.otf"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
p, li{
  font-size: 16px;
}

body {
  /* background: #000;
  min-height: 200vh; */
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 40px;
  z-index: 999;
  height: 80px;
  /* overflow: hidden; */
  /* z-index: 888; */
}
header h5{
  font-weight: 600 !important;
  font-size: 26px;
  padding-top: 15px;
}

header.sticky h5{
  padding-top: 0px;
}

header a {
  width: 183px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

header.sticky {
  padding: 5px 40px;
  background: #223c99;
  height: 50px;
  align-items: center;
  z-index: 999;
  /* color: #333; */
}

header.sticky a {
  padding-bottom: 0px;
}

header.sticky ul li:hover > ul {
  display: block;
  /* bottom: -70px; */
  /* padding: 0px 100px; */
  /* margin-top: 80px; */
  background: #fff;
  /* height: 50px; */
  align-items: center;
  z-index: 999;
  color: #333;
}

header.sticky ul li:hover > ul a {
  color: black;
}
header.sticky .ser:hover {
  padding-top: 0px;
}

header .logo {
  display: flex;
  position: relative;
  
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  /* text-transform: uppercase; */
  /* letter-spacing: 2px; */
  transition: 0.6s;
  width: 290px;
  /* align-items: center; */
}
header .logo img {
  /* width: 100px; */
  height: 40px;
  align-items: center;
  margin-top: 8px;
  margin-right: 15px;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  /* letter-spacing: 2px; */
  /* font-weight: 500px; */
  transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
  color: #fff;
}

/* -----------------------------------------------------Drop-down---------------------------------------- */

.drop ul li {
  position: relative;
}
.drop ul ul {
  position: absolute;
  padding: 0;
  /* min-width: 300px; */
  display: none;
  top: 100%;
  left: 0;
  /* margin-left: -80px; */
}

.drop ul li:hover > ul {
  display: block;
  /* text-align: center; */
  /* padding: 0 10px; */
  border-radius: 5px;
}
.drop ul li:hover > ul li:hover {
  background: #d4effc;
  /* padding: 10px 0; */
  width: 100%;
}

.drop ul ul li,
.drop ul ul a {
  padding: 5px 0;
  margin: 0;
  width: 100%;
}

.drop ul ul li {
  padding-left: 25px;
}

.drop ul ul li:first-child {
  padding-top: 10px;
}

.drop ul ul {
  margin-top: 12px;
  background: #fff;
}

.ser1 a li {
  color: #000;
}

.drop ul .ser11 {
  width: 150px;
}

.drop ul .ser12 {
  width: 240px;
  margin-left: -80px;
}
.box111 {
  width: 10px;
  height: 10px;
  background: #fff;
  margin-top: -5px;
  transform: rotate(45deg);
  margin-left: 45%;
}

/* ------------------------------------------------------navbar end----------------------------------------- */

.over {
  position: relative;
  background: #223c99b8;
  height: 80vh;
  width: 100%;
  z-index: 2;
}

.Banner {
  position: absolute;
  top: 0;
  /* display: inline; */
  /* position: relative; */
  height: 80vh;
  width: 100%;
  overflow: hidden;
  background-color: rgba(33, 59, 150, 0.15294117647058825);
  /* z-index: 999; */
}

.Banner video {
  /* width: 100%; */
  /* height: 80vh; */
  width: 100%;
  /* z-index: -1; */
  /* height: 300px; */
}

.headtex {
  color: white;
  margin-left: 100px;
  /* margin-top: 200px; */
  /* margin: 0; */
  /* padding: 0; */
}

.headtex h4 {
  margin: 0;
  padding-top: 200px;
}

.btn {
  background: #0da1ec;
  border-radius: 5px;
  /* margin-left: 230px; */
}
.btn:hover{
  background: #2aacef;
  border-radius: 5px;
}
/* -----------------------------------------------------after video-------------------------------------- */

.headline {
  text-align: center;
  /* border-bottom: 2px solid rgb(226, 215, 215); */
  /* padding-top: 100px; */
  padding: 20px;
}

.colo1 {
  padding-bottom: 60px;
}

.fa-color {
  background: black;
  color: #fff;
  border-radius: 50%;
  padding: 20px;
}

.maindetail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 300px;
  justify-items: center;
}

.pt {
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

/* -------------------------------------------how it work------------------------------- */

.work {
  /* height: 300px; */
  /* background: #223c99; */
  /* color: #fff; */
  margin-top: 50px;
}

.PART {
  padding-top: 10px;
}

.d2 {
  margin: 0 auto;
}

.d1 {
  margin-left: auto;
}

.pt12 {
  position: relative;

  height: 300px;
  width: 300px;
  border: 2px solid rgb(226, 215, 215);
}
.fori {
  position: absolute;
  top: 0;
}

.pt12 img {
  height: 100px;
  width: 296px;
}

.fa-colors {
  margin-left: 110px;
  margin-top: 40px;
}

.chead {
  font-weight: bold;
  height: 50px;
  margin-top: 100px;

  text-align: center;
  padding-top: 15px;
  border-bottom: 1px solid rgb(226, 215, 215);
}
.chead1 {
  text-align: center;
  padding-top: 15px;
  /* border-bottom: 1px solid rgb(226, 215, 215); */
  padding: 30px 5px;
}

.gworkm {
}

.gwork {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
}

/* <!-- ---------------------------------------------------resume sample---------------------------------- --> */

.carousel {
  height: 500px !important;
  margin-right: 300px !important;
  /* margin-bottom: 100px !important; */
  /* padding-bottom: 100px !important; */
  margin-top: 30px;
}

.carousel img {
  height: 500px !important;
  /* width: 600px !important; */
  padding-bottom: 100px !important;
}

.carousel-item {
  height: 500px !important;
  width: 300px !important;
}

/* <!-- -----------------------------------------------------customer raiting------------------------------ --> */
.page-wrapper {
  margin-top: 30px;
}
.post-slider {
  /* border: 1px solid red; */
  /* background: lightcoral; */
  position: relative;
}

.post-slider .post-wrapper {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  /* border: 1px solid rebeccapurple; */
  /* overflow: hidden; */
}

.post-slider .post-wrapper .post {
  /* width: 300px !important; */
  height: 300px;
  display: inline-block;
  /* background: lightblue; */
  /* border: 1px solid rgb(226, 215, 215); */
  background: #fff;
  margin: 0 10px;
  padding: 20px;
}

.post-slider .next {
  position: absolute;
  top: 40%;
  right: 80px;
  cursor: pointer;
}

.post-slider .prev {
  position: absolute;
  top: 40%;
  left: 80px;
  cursor: pointer;
}

.post p {
  position: relative;
  line-height: 18px;
}

.post .b {
  font-weight: bold;
}

.post img {
  position: absolute;
  top: 15px;
  margin-left: 160px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post p span {
  color: #223c9973;
}
.image1 {
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 0 80px;
}

.image1 img {
  height: 80px;
  margin: 30px 0px;

  justify-content: space-between;
}

/* ---------------------------------------------------------------footer---------------------------- */
/* -------------------------------------------------------footer--------------------------------- */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 250px) 1fr;
  height: 233px;
    /* margin-top: 80px; */
  /* border-top: 2px solid #a7b2d8; */
  padding: 9px 60px;
  background: #09143b;
  color: #6275b975;
  margin-top: 40px;
  background-image: linear-gradient(174deg, rgba(59,11,72,0) 32%, rgba(59,11,72,0.5));
}

.product,
.learn,
.company {
  margin-left: 50px;
}

.footer h5 {
  font-weight: bold;
  font-size: 16px;
  color: #a7b2d8;
}

.footer p {
  font-size: 15px;
  margin-bottom: 5px;
  color: #a7b2d8;
}

.footer p:hover {
  color: #bdc0cc;
}

.branded h5 {
  /* margin-top: 15px; */
  font-weight: 600;
  font-size: 34px;
  /* font-size: 2.1rem; */
}

.branded {
  text-align: right;
  margin-right: 50px;
}
.fa-2x {
  font-size: 1.5rem;
}

.btn-large{
  text-transform: none;
  font-size: 20px;
    font-weight: 600;
}
