@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  position: fixed;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 40px;
  z-index: 999;
  height: 80px;
  /* overflow: hidden; */
  /* z-index: 888; */
}
header h5{
  font-weight: 600 !important;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

  font-size: 26px;
  padding-top: 15px;
}

header.sticky h5{
  padding-top: 0px;
}

header a {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  width: 183px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

header.sticky {
  padding: 5px 40px;
  background: #223c99;
  height: 50px;
  align-items: center;
  z-index: 999;
  /* color: #333; */
}

header.sticky a {
  padding-bottom: 0px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}

header.sticky ul li:hover > ul {
  display: block;
  /* bottom: -70px; */
  /* padding: 0px 100px; */
  /* margin-top: 80px; */
  background: #fff;
  /* height: 50px; */
  align-items: center;
  z-index: 999;
  color: #333;
}

header.sticky ul li:hover > ul a {
  color: black;
}
header.sticky .ser:hover {
  padding-top: 0px;
}

header .logo {
  display: flex;
  position: relative;
  
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  /* text-transform: uppercase; */
  /* letter-spacing: 2px; */
  transition: 0.6s;
  width: 290px;
  /* align-items: center; */
}
header .logo img {
  /* width: 100px; */
  height: 40px;
  align-items: center;
  margin-top: 8px;
  margin-right: 15px;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
  font-size: 16px;
}

header ul li a {
  position: relative;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  /* letter-spacing: 2px; */
  /* font-weight: 500px; */
  transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
  color: #fff;
}

/* -----------------------------------------------------Drop-down---------------------------------------- */

.drop ul li {
  position: relative;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}
.drop ul ul {
  position: absolute;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

  padding: 0;
  /* min-width: 300px; */
  display: none;
  top: 100%;
  left: 0;
  /* margin-left: -80px; */
}

.drop ul li:hover > ul {
  display: block;
  /* text-align: center; */
  /* padding: 0 10px; */
  border-radius: 5px;
}
.drop ul li:hover > ul li:hover {
  background: #d4effc;
  /* padding: 10px 0; */
  width: 100%;
}

.drop ul ul li,
.drop ul ul a {
  padding: 5px 0;
  margin: 0;
  width: 100%;
}

.drop ul ul li {
  padding-left: 25px;
}

.drop ul ul li:first-child {
  padding-top: 10px;
}

.drop ul ul {
  margin-top: 12px;
  background: #fff;
}

.ser1 a li {
  color: #000;
}

.drop ul .ser11 {
  width: 150px;
}

.drop ul .ser12 {
  width: 240px;
  margin-left: -80px;
}
.box111 {
  width: 10px;
  height: 10px;
  background: #fff;
  margin-top: -5px;
  transform: rotate(45deg);
  margin-left: 45%;
}

/* ------------------------------------------------------navbar end----------------------------------------- */

/* <!-- ---------------------------------------------------main head--------------------------------------- --> */
.m-head .m-back {
  width: 100%;
  height: 98vh;
  background-color: #09143b;
}

.m-head .content p {
  color: #8992a4;
  padding-top: 200px;
  /* padding-left: 70px; */
}
.m-head .content h1 {
  color: #fff;
  margin-top: 8px;
  font-size: 45px;
  font-weight: 600;
  /* margin-top: 30%; */
}

.m-head .content h5 {
  color: #fff;
  font-size: 20px;
  line-height: 35px;
}

.btn:hover {
  box-shadow: 5px 5px 10px #223c99;
}

.content {
  width: 50%;
  /* margin-top: 300px; */
  /* height: 98vh; */
  padding-left: 10%;
  float: left;
}

.image11 {
  position: relative;
}

.img1 {
  /* background: #ffffff48; */
  width: 250px;
  height: 250px;
  float: right;
  margin-top: 150px;
  margin-right: 5%;
}

.img1 img {
  width: 250px;
  height: 250px;
  float: right;
  opacity: 0.5;
}

.img2 img {
  width: 400px;
  height: 300px;
  margin-top: 200px;
}
.img2 {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10%;
  z-index: 888;
}

.img3 {
  /* background: #ffffff48; */
  width: 100px;
  height: 100px;
  float: right;
  margin-top: 450px;
  margin-right: -220px;
  /* z-index: -3; */
  /* margin-bottom: 300px; */
}

.img3 img {
  width: 100px;
  height: 100px;
  /* float: right; */
  opacity: 0.5;
}

/* <!-- ---------------------------------------------------%%%%%persentage%%%%%--------------------------------------- --> */
.m-size {
  height: 200px;
  background: #f8f8f8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  overflow: hidden;
  padding: 0px 6%;
}
.p1 {
  text-align: center;
  padding: 0 55px;
  padding-top: 30px;
}

.p1 h4 {
  font-size: 30px;
  font-weight: 600;
}

.p1 h5 {
  /* opacity: 0.5; */
  color: #8992a4;
  font-size: 20px;
}

.p1 h5 span {
  color: black;
  /* font-weight: bold; */
}

/* <!-- ----------------------------------------------mobile-type-------------------------------------- --> */

.m-mobile {
  height: 750px;
  padding: 0px 6%;
}
.text-1 {
  width: 62%;
  float: right;
}
.mob-img {
  padding-left: 33px;
  padding-top: 64px;
  float: left;
  width: 35%;
  height: 750px;
}

.text-1 .light {
  color: #8992a4;
  margin-left: 99px;
  font-size: 14.4px;
}
.text-1 h3 {
  font-size: 27.4px;
  margin: 0;
  margin-top: 6px;
  margin-left: 99px;
  font-weight: 600;
}

.text-1 .light1 {
  margin-left: 99px;
  font-size: 17px;
  margin-top: 15px;
}

.cir {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cir1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-items: center; */
}

.line {
  width: 90px;
  height: 2px;
  background: #8992a4;
  display: inline;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  margin: -10px;
}

.pul-grid {
  display: grid;
  grid-template-columns: 30px 90px 35px 1fr;
  align-items: center;
  justify-content: center;
}

.cont .light2 {
  text-align: left;
  font-size: 17px;
  padding-right: 200px;
  margin-top: 24px;
}
.cont {
  display: flex;
  /* margin-top: 20px; */
}

.fa-1x {
  font-size: 22px;
}

/* -----------------------------------------how it work------------------------------------------ */

.b1 {
  height: 670px;
  background: #f6f7fa;
  width: 100%;
  overflow: hidden;
}

.text-2 .light2 {
  color: #8992a4;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14.4px;
  text-align: center;
}

.text-2 h3 {
  font-size: 30.4px;
  margin: 0;
  /* margin-top: 12px; */
  font-weight: 600;
  text-align: center;
}

.main-hiw {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 0 3.5%;
}

.main-h1 {
  padding: 0 80px;
}

/* --------------------------------------------------------linkedin--expert---------------------------- */
.main-pp {
  width: 100%;
  height: 800px;
}

.main-c {
  position: relative;
  height: 730px;
}
.b2 img {
  width: 65%;
  height: 500px;
  margin-left: 96px;
  margin-top: 32px;
}

.b3 img {
  width: 40%;
  height: 490;
  position: absolute;
  top: 0;
  margin-left: 180px;
  margin-top: 100px;
}

.box22 {
  width: 46%;
  height: 350px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 130px;
  margin-top: 120px;
}
.text22 {
  padding: 33px;
  padding-top: 60px;
}
.text22 .light2 {
  color: #8992a4;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 500;
  /* text-align: center; */
  /* padding: 36px; */
}
.inline {
  display: flex;
}
.text22 .a3 {
  font-size: 17px;
  margin-top: 30px;
  line-height: 28px;
}
.text22 span {
  font-size: 50px;
}

.text22 h3 {
  /* color: #8992a4; */
  width: 100%;
  margin-top: 50px;
  padding: 0;
  font-size: 28.4px;
  /* letter-spacing: 2px; */
  /* margin-top: 10px; */
  font-weight: 700;
  /* text-align: center; */
  /* padding: 36px; */
}

.box33 {
  width: 40%;
  height: 200px;
  background: #fff;
  position: absolute;
  /* top: 0; */
  bottom: 0;
  right: 0;
  margin-right: 115px;
  /* margin-top: -80px; */
}
.text33 {
  padding: 33px;
  padding-top: 40px;
}
.text33 h3 {
  font-size: 33px;
  margin: 0;
  font-weight: 700;
}
.text33 .a3 {
  font-size: 17px;
  margin-top: 20px;
  line-height: 28px;
}

/* ----------------------------------------------------c-write---------------------------------- */
.main-cc {
  height: 400px;
  width: 100%;
  background: #f6f7fa;
}

.page-wrapper {
  margin-top: 20px;
  /* overflow: hidden; */
}
.post-slider {
  /* border: 1px solid red; */
  /* background: lightcoral; */
  position: relative;
  height: 200px;
  /* overflow: hidden; */
}

.post-slider .post-wrapper {
  width: 80%;
  height: 200px;
  margin: 0 auto;
  /* border: 1px solid rebeccapurple; */
  /* text-align: center; */
  /* overflow: hidden; */
}

.post-slider .post-wrapper .post {
  /* width: 300px !important; */
  height: 200px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  /* background: lightblue; */
  /* border: 1px solid rgb(226, 215, 215); */
  background: #fff;
  width: 600px;
  background: #f6f7fa;
  /* text-align: center; */
  /* margin: 0 10px; */
  /* padding: 20px; */
  /* overflow: hidden; */
}
.post p {
  text-align: center;
  font-size: 20px;
  padding: 50px;
}

.post-slider .next {
  position: absolute;
  top: 40%;
  right: 60px;
  cursor: pointer;
}

.post-slider .prev {
  position: absolute;
  top: 40%;
  left: 60px;
  cursor: pointer;
}

.post img {
  position: absolute;
  /* top: 15px; */
  /* margin-left: 160px; */
  width: 300px;
  height: 400px;
  margin-left: 30px;

  /* border-radius: 50%; */
}

.modal img {
  width: 100%;
}

.main-cc h4 {
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}

/* ---------------------------------------------------last------------------------------------- */
.content121 p {
  text-align: center;
  font-size: 20px;
  color: #8992a4;
  letter-spacing: 2px;
}

.content121 h2 {
  font-size: 30.4px;
  text-align: center;
  font-weight: 700;
}
.content121 {
  height: 350px;
}

/* ---------------------------------------------------------------footer---------------------------- */
/* -------------------------------------------------------footer--------------------------------- */

.footer {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 250px) 1fr;
  height: 273px;
    /* margin-top: 80px; */
  /* border-top: 2px solid #a7b2d8; */
  padding: 9px 60px;
  background: #09143b;
  color: #6275b975;
  margin-top: 40px;
  background-image: linear-gradient(174deg, rgba(59,11,72,0) 32%, rgba(59,11,72,0.5));
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.product,
.learn,
.company {
  margin-left: 50px;
}

.footer h5 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #a7b2d8;
}

.footer p {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #a7b2d8;
}

.footer p:hover {
  color: #bdc0cc;
}

.branded h5 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  /* margin-top: 15px; */
  font-weight: 600;
  font-size: 34px;
  /* font-size: 2.1rem; */
}

.branded {
  text-align: right;
  margin-right: 50px;
}