@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
body {
  /* background: #000;
  min-height: 200vh; */
}

header {
  position: fixed;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 40px;
  z-index: 999;
  height: 80px;
  /* overflow: hidden; */
  /* z-index: 888; */
}
header h5{
  font-weight: 600 !important;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

  font-size: 26px;
  padding-top: 15px;
}

header.sticky h5{
  padding-top: 0px;
}

header a {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  width: 183px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

header.sticky {
  padding: 5px 40px;
  background: #223c99;
  height: 50px;
  align-items: center;
  z-index: 999;
  /* color: #333; */
}

header.sticky a {
  padding-bottom: 0px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}

header.sticky ul li:hover > ul {
  display: block;
  /* bottom: -70px; */
  /* padding: 0px 100px; */
  /* margin-top: 80px; */
  background: #fff;
  /* height: 50px; */
  align-items: center;
  z-index: 999;
  color: #333;
}

header.sticky ul li:hover > ul a {
  color: black;
}
header.sticky .ser:hover {
  padding-top: 0px;
}

header .logo {
  display: flex;
  position: relative;
  
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  /* text-transform: uppercase; */
  /* letter-spacing: 2px; */
  transition: 0.6s;
  width: 290px;
  /* align-items: center; */
}
header .logo img {
  /* width: 100px; */
  height: 40px;
  align-items: center;
  margin-top: 8px;
  margin-right: 15px;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
  font-size: 16px;
}

header ul li a {
  position: relative;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  /* letter-spacing: 2px; */
  /* font-weight: 500px; */
  transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
  color: #fff;
}

/* -----------------------------------------------------Drop-down---------------------------------------- */

.drop ul li {
  position: relative;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}
.drop ul ul {
  position: absolute;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

  padding: 0;
  /* min-width: 300px; */
  display: none;
  top: 100%;
  left: 0;
  /* margin-left: -80px; */
}

.drop ul li:hover > ul {
  display: block;
  /* text-align: center; */
  /* padding: 0 10px; */
  border-radius: 5px;
}
.drop ul li:hover > ul li:hover {
  background: #d4effc;
  /* padding: 10px 0; */
  width: 100%;
}

.drop ul ul li,
.drop ul ul a {
  padding: 5px 0;
  margin: 0;
  width: 100%;
}

.drop ul ul li {
  padding-left: 25px;
}

.drop ul ul li:first-child {
  padding-top: 10px;
}

.drop ul ul {
  margin-top: 12px;
  background: #fff;
}

.ser1 a li {
  color: #000;
}

.drop ul .ser11 {
  width: 150px;
}

.drop ul .ser12 {
  width: 240px;
  margin-left: -80px;
}
.box111 {
  width: 10px;
  height: 10px;
  background: #fff;
  margin-top: -5px;
  transform: rotate(45deg);
  margin-left: 45%;
}

/* ------------------------------------------------------navbar end----------------------------------------- */


.headline {
  text-align: center;
  /* border-bottom: 2px solid rgba(226, 215, 215, 0.274); */
  /* background: black; */
  /* margin-top: 80px; */
}

.head-img {
  background: url(../image/meeting.jpg) no-repeat center center/cover fixed;

  /* margin-top: 30px; */
  height: 450px;
  width: 100%;
}

.t-img {
  width: 100%;
  height: 450px;
  background: #223c99de;
  /* background-image: cross-fade(100%); */

  position: relative;
  /* float: right; */
}
.u-img {
  position: absolute;
  /* right: 0; */
  top: 0;
  width: 50%;
  /* float: right; */
  /* color: #fff; */
  padding: 40px;
  /* text-align: center; */
  /* height: 450px; */
  overflow: hidden;
  margin-top: 130px;
  margin-left: 70px;
}
.u-img h4 {
  font-weight: 500;
  /* border-bottom: 2px solid #a7b2d8; */
  padding-bottom: 10px;
}
.u-img p {
  /* line-height: 35px; */
  /* font-weight: bold; */
  /* margin-top: 40px; */
}

.u-img p {
  font-size: 16px;
  /* height: 400px; */
  align-items: center;
  justify-content: center;
  line-height: 30px;
}

.btn90{
  border-radius: 5px;
  font-weight: 600;
  text-transform: none;
  background: #0da1ec;
  margin-top: 10px;
  width: 90%;
}

/* --------------------------------------template------------------------------------------------- */
/* <!-- -----------------------------------------------------customer raiting------------------------------ --> */
.page-wrapper {
  margin-top: 70px;
  /* overflow: hidden; */
}
.post-slider {
  /* border: 1px solid red; */
  /* background: lightcoral; */
  position: relative;
  height: 470px;
  /* overflow: hidden; */
}

.post-slider .post-wrapper {
  width: 80%;
  height: 570px;
  margin: 0 auto;
  /* border: 1px solid rebeccapurple; */
  /* text-align: center; */
  /* overflow: hidden; */
}

.post-slider .post-wrapper .post {
  /* width: 300px !important; */
  height: 470px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  /* background: lightblue; */
  /* border: 1px solid rgb(226, 215, 215); */
  background: #fff;
  width: 360px;
  /* text-align: center; */
  /* margin: 0 10px; */
  /* padding: 20px; */
  /* overflow: hidden; */
}
.post p {
  text-align: center;
}

.post-slider .next {
  position: absolute;
  top: 40%;
  right: 60px;
  cursor: pointer;
}

.post-slider .prev {
  position: absolute;
  top: 40%;
  left: 60px;
  cursor: pointer;
}

.post img {
  position: absolute;
  /* top: 15px; */
  /* margin-left: 160px; */
  width: 300px;
  height: 400px;
  margin-left: 30px;

  /* border-radius: 50%; */
}

.modal img {
  width: 100%;
}

.cata {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: -10px;
  /* margin-left: 100px; */
  font-weight: 500;
  margin-top: 50px;
}

.cata p {
  /* display: inline-block; */

  border-bottom: 1px solid #ced4da;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
}

.cata a {
  color: #ced4da;
}

.cata a:hover {
  color: #3983fa;
}

/* ---------------------------------------------------template------------------------------- */

.small11 img {
  width: 350px;
  height: 400px;
}

.btn:hover {
  box-shadow: 5px 5px 10px #223c99;
}

.small11 {
  /* width: 400px; */
  display: flex;
  justify-content: center;
}

.main-111 {
  /* width: 400px; */
  height: 600px;
  /* margin-left: 25px; */
}
.m-text {
  /* display: flex; */
  text-align: center;
  padding: 0 70px;
  width: 100%;
  /* align-items: center; */
}

.m-text h4 {
  margin-bottom: 10px;
  margin-top: 10px;
  /* width: 400px; */
}

.top-d {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  /* height: 800px; */
  /* margin-left: auto; */
}

/* ---------------------------------------------------------------footer---------------------------- */
/* -------------------------------------------------------footer--------------------------------- */

/* -------------------------------------------------------footer--------------------------------- */

.footer {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 250px) 1fr;
  height: 273px;
    /* margin-top: 80px; */
  /* border-top: 2px solid #a7b2d8; */
  padding: 9px 60px;
  background: #09143b;
  color: #6275b975;
  margin-top: 40px;
  background-image: linear-gradient(174deg, rgba(59,11,72,0) 32%, rgba(59,11,72,0.5));
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.product,
.learn,
.company {
  margin-left: 50px;
}

.footer h5 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #a7b2d8;
}

.footer p {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #a7b2d8;
}

.footer p:hover {
  color: #bdc0cc;
}

.branded h5 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  /* margin-top: 15px; */
  font-weight: 600;
  font-size: 34px;
  /* font-size: 2.1rem; */
}

.branded {
  text-align: right;
  margin-right: 50px;
}
.fa-2x {
  font-size: 1.5rem;
}
